BETTER_AUTH_SECRET=
DATABASE_URL=postgresql://

RESEND_API_KEY=re_

BETTER_AUTH_URL=

ALLOWED_ORIGINS=http://localhost:8081,http://localhost:19006,http://192.168.1.11:8081,exp://192.168.1.11:8081,exp://192.168.29.51:8081,http://192.168.29.51:8081

NODE_ENV=development

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=